.infoviewer {
    position: relative;
    line-height: 100%;
}
.infoheadviewer {
    position: relative;
    line-height: 100%;
}
.infoimageIcon {
    width: 300px;
    position: relative;
    height: 100px;
    object-fit: cover;
}
.infob {
    align-self: stretch;
    position: relative;
    line-height: 120%;
}
.gameinfotaglist {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 24px;
    color: #000;
}
.gcombutton {
    border-radius: 8px;
    background-color: #9fbde9;
    border: 1px solid #979797;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    &:hover {
        cursor: pointer;
    }
}
.ginfofooter {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 20px;
    color: #1d1b20;
}
.ginfocont {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.gameinfo {
    align-self: stretch;
    height: 248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.gkeywordgheader {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
}
.infob7 {
    position: relative;
    font-size: 43.2px;
    line-height: 100%;
}
.infob8 {
    position: relative;
    font-size: 26.4px;
    line-height: 100%;
}
.gkeywordgmain {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    gap: 30px;
    font-size: 14.4px;
}
.infoparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.frameinfoParent {
    border: 2px solid #6c6c6c;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
}
.gkeywordgoodmain {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 30px;
}
.gkeywordmainChild {
    align-self: stretch;
    width: 2px;
    position: relative;
    border-right: 2px solid #6c6c6c;
    box-sizing: border-box;
}
.infob18 {
    position: relative;
    font-size: 43.2px;
    line-height: 100%;
}
.infob19 {
    position: relative;
    font-size: 22.56px;
    line-height: 100%;
}
.gkeywordbmain {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    gap: 30px;
    font-size: 11.52px;
}
.gkeywordmain {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}
.infoimage1Icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.gcalchart {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 50px;
    gap: 30px;
}
.infoimage1Icon1 {
    width: 610px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
}
.gstattxtheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 25px 0px 0px;
    gap: 10px;
}
.gstattxtfooter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.gstattxtmain {
    width: 246px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: auto;
}
.gstatsub {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}
.infoimageIcon1 {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 247px;
    flex-shrink: 0;
    object-fit: cover;
}
.infotext1 {
    flex: 1;
    position: relative;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infotext {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.infobody {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.productInfoCard {
    width: 318px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
    min-width: 240px;
}
.ginfomainfooteralign {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 46px;
    font-size: 20px;
    color: #1e1e1e;
}
.ginfomainfooter {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 50px;
    gap: 30px;
}
.gameinfomain {
    width: 1172px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 24px;
    margin-top: 50px;
}
.gameinfof {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 827px;
    box-sizing: border-box;
    gap: 30px;
    text-align: left;
    font-size: 64px;
    color: #000;
    font-family: NanumGothic;
}
