.button {
    position: relative;
    line-height: 100%;
}
.loginbutton {
    position: absolute;
    top: 50px;
    left: 1700px;
    border-radius: 8px;
    background-color: #9fbde9;
    border: 1px solid #979797;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #1d1b20;
    &:hover {
        cursor: pointer;
    }
}

.myPagebutton {
    position: absolute;
    top: 50px;
    left: 1500px;
    border-radius: 8px;
    background-color: #9fbde9;
    border: 1px solid #979797;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #1d1b20;
    &:hover {
        cursor: pointer;
    }
}

.supportingText {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.content {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
}
.containerIcon {
    width: 40px;
    border-radius: 100px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.stTrailingIcon {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trailingElements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.stateLayer {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    gap: 4px;
}
.mainsearchbar {
    position: absolute;
    top: 322px;
    left: calc(50% - 300px);
    border-radius: 28px;
    background-color: #ece6f0;
    width: 600px;
    height: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 360px;
    max-width: 720px;
    color: #49454f;
}
.imageIcon {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 247px;
    flex-shrink: 0;
    object-fit: fill;
}
.text1 {
    flex: 1;
    position: relative;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.body {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #000;
}
.productInfoCard {
    width: 318px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
    min-width: 240px;
}
.mainunderinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 46px;
}
.granking {
    flex: 1;
    position: relative;
    line-height: 100%;
}
.grankingbutton {
    width: 47px;
    border-radius: 8px;
    background-color: #9fbde9;
    border: 1px solid #979797;
    box-sizing: border-box;
    height: 323px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-align: center;
    color: #1d1b20;
    margin-left: -35px;
    &:hover {
        cursor: pointer;
    }
}
.pergrankingbutton {
    width: 47px;
    border-radius: 8px;
    background-color: #9fbde9;
    border: 1px solid #979797;
    box-sizing: border-box;
    height: 323px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-align: center;
    color: #1d1b20;
    &:hover {
        cursor: pointer;
    }
}
.mainunderf {
    position: absolute;
    top: 455px;
    left: calc(50% - 575px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 57px;
    color: #1e1e1e;
}
.viewer {
    position: absolute;
    top: 178px;
    left: calc(50% - 133px);
    font-size: 64px;
    line-height: 100%;
}
.sbarlisttxt {
    position: absolute;
    top: calc(50% - 15px);
    left: 49px;
    color: #000;
}
.sbarlistsubf {
    position: relative;
    top: 0px;
    width: 600px;
    height: 40px;
}
.sbarlistsubf:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
.sbarlistmainf {
    position: absolute;
    top: 394px;
    left: calc(50% - 300px);
    background-color: #fff;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}
.main {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: NanumGothic;
}
